@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
  animation-name: fadein;
  animation-duration: 1s;
}
ul li {
  list-style: none;
}
#root{
  background-color: #333333;
}
a{
  text-decoration: none;
}
.navbar{
  float: left;
  padding: 0.5rem 1.5rem;
  background-color: #333333;
}
.menu ul li{
  display: flex;
  background-color: #333333;
}
.menu ul{
  align-items: center;
  display: flex;
  padding: 1rem;
  justify-items: right;
  font-size: xx-large;
  font-weight: bold;
}
.menu ul li a{
  padding: 0.75rem;
  margin: 0 0.25rem;
}
.menu ul li a:hover{
  border-bottom: 1px solid #fff;
}
.menu ul li .active{
  border-bottom: 1px solid #fff;
}
.navbar ul li{
  font-size: xx-large;
  font-weight: bold;
  list-style: none;
}
.navbar ul li:hover{
  animation-name: nav;
  animation-duration: 1s;
}
.showcase{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 15px;
  text-align: center;
  padding: 100px 25px;
  margin: 5%;
}
.showcase p{
  font-size: 16px;
  font-weight: lighter;
  padding: 16px;
}
.showcase-container{
  width: 80%;
  margin: auto;
}
.showcase h1 h3 p{
  background-color: none;
  display: inline;
}
.showcase{
  background-image: url(./components/images/favicon.png);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333333;
  background-blend-mode:difference;
}
.btn{
  padding: 15px 20px;
  margin: 10px;
  outline: none;
  border: 1px solid snow;
  border-radius: 25px;
}
.btn-light{
  background-color: #fff;
  color: #333333;
  font-weight: bold;
}
.btn-outline{
  background-color: #333333;
  font-weight: bold;
}
.btn-light:hover{
  background-color: #333333;
  color: #fff;
  cursor: pointer;
  transition: ease .3s background-color;
}
.btn-outline:hover{
  background-color: #fff;
  color: #333333;
  cursor: pointer;
  transition: ease .3s background-color;
  /* transition: ease .3s color; */
}
#why-us{
  background-color: #333333;
}
.who{
  background-color: #333333;
  padding: 1rem 2.5rem;
}
.who p{
  display: inline;
  width: 50%;
  float: left;
  padding: 0.6rem;
  font-size: 18px;
}
.who img{
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 50%;
  float: left;
  height: 100%;
}
.plus{
  color: #ed1b24;
  font-size: 25px;
  padding: 14px 0px;
}
#why-us{
  text-align: center;
  margin: 1.5rem;
  background-color: #333;
}
#why-us p{
  font-size: 18px;
  padding: 0.5rem;
}
.box{
  display: flex;
  background-color: #222;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 100%;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.get-in-touch{
  background-color: #333;
  padding: 2rem 1rem;
}
.g-i-t-container{
  width: 60%;
  margin: auto;
}
.get-in-touch h2{
  margin: 20px 0;
  border-bottom: 2px solid #ed1b24;
  width: 50%;
}
.con-input{
  padding: 20px 0;
}
.email{
  color: #fff;
  background-color: #333;
  border: none;
  border: 3px solid #ed1b24;
  border-radius: 25px;
  width: 100%;
  outline: none;
  margin: 15px 0px;
  padding: 1rem 1rem;
}
.email::placeholder{
  color: #fff;
  font-size: larger;
  font-weight: bold;
}
.email:focus{
  border: 3px solid #c5030c;
  transition: ease 1s border;
}
.input{
  margin: 10px 0;
}
.email:active{
  color: #fff;
  background-color: #333;
}
footer{
  background-color: #222;
  padding: 1.5rem 0 0.5rem 0;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
footer ul {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
footer ul li {
  font-weight: bold;
}
footer ul li a{
  color: #d8d8d8;
}
footer ul li a:hover{
  color: #fff;
  transition: ease .3s color;
}
footer ul li i{
  color: #d8d8d8;
}
footer ul li i:hover{
  color: #fff;
  transition: ease .3s color;
}
/* Animation styling */
@keyframes nav{
  0%{transform: rotate(0);}
  100%{transform: rotate(360deg);}
}
@keyframes fadein{
  0%{opacity: 0;}
  100%{opacity: 1;}
}