@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
}
#root{
  background-color: #333333;
}
a{
  text-decoration: none;
}
.navbar{
  float: left;
  padding: 0.5rem 1.5rem;
  background-color: #333333;
}
.menu ul li{
  display: flex;
  background-color: #333333;
}
.menu ul{
  align-items: center;
  display: flex;
  padding: 1rem;
  justify-items: right;
  font-size: xx-large;
  font-weight: bold;
}
.menu ul li a{
  padding: 0.75rem;
  margin: 0 0.25rem;
}
.menu ul li a:hover{
  border-bottom: 1px solid #fff;
}
.navbar ul li{
  font-size: xx-large;
  font-weight: bold;
  list-style: none;
}
.navbar ul li:hover{
  animation-name: nav;
  animation-duration: 1s;
}
.showcase{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 15px;
  text-align: center;
  padding: 100px 25px;
  margin: 5%;
}
.showcase p{
  font-size: 16px;
  font-weight: lighter;
  padding: 16px;
}
.showcase-container{
  width: 80%;
  margin: auto;
}
.showcase h1 h3 p{
  background-color: none;
  display: inline;
}
.showcase{
  background-image: url(./components/images/favicon.png);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333333;
}
.btn{
  padding: 15px 20px;
  margin: 10px;
  outline: none;
  border: 1px solid snow;
  border-radius: 25px;
}
.btn-light{
  background-color: #fff;
  color: #333333;
  font-weight: bold;
}
.btn-outline{
  background-color: #333333;
  font-weight: bold;
}
.btn-light:hover{
  background-color: #333333;
  color: #fff;
  cursor: pointer;
  transition: ease .3s background-color;
}
.btn-outline:hover{
  background-color: #fff;
  color: #333333;
  cursor: pointer;
  transition: ease .3s background-color;
  /* transition: ease .3s color; */
}
#why-us{
  background-color: #333333;
}
.who{
  background-color: #333333;
  padding: 1rem 2.5rem;
}
.who p{
  display: inline;
  width: 50%;
  float: left;
  padding: 0.8rem;
  font-size: 17px;
}
.who img{
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 50%;
  float: left;
  height: 100%;
}
/* Animation styling */
@keyframes nav{
  0%{transform: rotate(0);}
  100%{transform: rotate(360deg);}
}